<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>914752775166-efafabi9g35g38kdlbjna69g21cad6kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914752775166-efafabi9g35g38kdlbjna69g21cad6kp</string>
	<key>API_KEY</key>
	<string>AIzaSyDKWqfGggz-p4fkbytnGoAs-tAz-bcpLnw</string>
	<key>GCM_SENDER_ID</key>
	<string>914752775166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itrex.olga</string>
	<key>PROJECT_ID</key>
	<string>cloudinarytest-a4fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudinarytest-a4fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914752775166:ios:58ecd84f7c346c48</string>
	<key>DATABASE_URL</key>
	<string>https://cloudinarytest-a4fb1.firebaseio.com</string>
</dict>
</plist>